## 데이터 전처리
- 결측치 처리
- 이상치 처리

- 데이터 : data_atype.zip (수업노트에서 다운로드)

## 라이브러리 및 데이터 불러오기

In [ ]:
import pandas as pd
X_train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/y_train.csv")
X_test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/X_test.csv")
# X_train = pd.read_csv("X_train.csv")
# y_train = pd.read_csv("y_train.csv")
# X_test = pd.read_csv("X_test.csv")

# 결측치

In [ ]:
# 데이터 샘플 확인
X_train.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,3331,34.0,State-gov,177331,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States
1,19749,58.0,Private,290661,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States
2,1157,48.0,Private,125933,Some-college,10,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States
3,693,58.0,Private,100313,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1902,40.0,United-States
4,12522,41.0,Private,195661,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,54.0,United-States

In [ ]:
# 결측치 컬럼 확인
X_train.isnull().sum()

id                   0
age                 12
workclass         1662
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
dtype: int64

In [ ]:
# 데이터 타입 확인
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 3.4+ MB

In [ ]:
# workclass 컬럼 고유 값 개수 value.counts()
X_train['workclass'].value_counts()

workclass
Private             20451
Self-emp-not-inc     2292
Local-gov            1863
State-gov            1170
Self-emp-inc          991
Federal-gov           856
Without-pay            13
Never-worked            6
Name: count, dtype: int64

In [ ]:
# occupation 컬럼 고유 값 개수
X_train['occupation'].value_counts()

occupation
Prof-specialty       3683
Craft-repair         3677
Exec-managerial      3632
Adm-clerical         3411
Sales                3295
Other-service        2993
Machine-op-inspct    1822
Transport-moving     1434
Handlers-cleaners    1223
Farming-fishing       891
Tech-support          842
Protective-serv       590
Priv-house-serv       135
Armed-Forces            8
Name: count, dtype: int64

In [ ]:
# native.country 컬럼 고유 값 개수
X_train['native.country'].value_counts()

native.country
United-States                 26240
Mexico                          576
Philippines                     178
Germany                         120
Canada                          109
Puerto-Rico                      98
India                            91
El-Salvador                      91
Cuba                             87
England                          79
Jamaica                          77
South                            75
China                            70
Italy                            68
Vietnam                          64
Dominican-Republic               63
Japan                            56
Columbia                         55
Guatemala                        53
Poland                           50
Taiwan                           50
Haiti                            40
Iran                             37
Portugal                         33
Nicaragua                        32
Greece                           27
Ecuador                          26
France                           26
Peru                             24
Ireland                          22
Hong                             19
Thailand                         17
Cambodia                         17
Laos                             17
Yugoslavia                       15
Trinadad&Tobago                  14
Hungary                          13
Honduras                         13
Scotland                         12
Outlying-US(Guam-USVI-etc)       12
Holand-Netherlands                1
Name: count, dtype: int64

# 범주형 변수 결측치
- 삭제
- 최빈값
- 없는값

## 삭제

In [ ]:
# X_train과 X_test 데이터 크기 확인
X_train.shape , X_test.shape

((29304, 15), (3257, 15))

In [ ]:
# 결측치 확인
X_train.isnull().sum() , X_test.isnull().sum()

(id                   0
 age                 12
 workclass         1662
 fnlwgt               0
 education            0
 education.num        0
 marital.status       0
 occupation        1668
 relationship         0
 race                 0
 sex                  0
 capital.gain         0
 capital.loss         0
 hours.per.week      13
 native.country     537
 dtype: int64,
 id                  0
 age                 6
 workclass         174
 fnlwgt              0
 education           0
 education.num       0
 marital.status      0
 occupation        175
 relationship        0
 race                0
 sex                 0
 capital.gain        0
 capital.loss        0
 hours.per.week      9
 native.country     46
 dtype: int64)

In [ ]:
# 결측치가 있는 데이터(행) 전체 삭제 및 확인 dropna() #기본값 axis=0
# null 값이 다 0이 되어있는거 확인 완

df = X_train.dropna(axis=0)
df.isnull().sum()

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

In [ ]:
# 특정컬럼에 결측치가 있으면 데이터(행) 삭제 subset=['native.country']
df.shape

(28767, 15)

In [ ]:
# 특정컬럼에 결측치가 있으면 데이터(행) 삭제 subset=['native.country', 'workclass']
df = X_train.dropna(subset=['native.country', 'workclass'])
print(df.isnull().sum())
print(df.shape)

#여기서 work class 결측치 삭제했더니 occupation 결측치도 많이 사라짐 - > work class 데이터에있던 결측치의 대부분이 occupation에도 있었다라고 결과값을 낼 수 있다.

id                 0
age               12
workclass          0
fnlwgt             0
education          0
education.num      0
marital.status     0
occupation         6
relationship       0
race               0
sex                0
capital.gain       0
capital.loss       0
hours.per.week    13
native.country     0
dtype: int64
(27127, 15)

In [ ]:
# 결측치가 있는 컬럼 삭제 dropna(axis=1)
#★ 이렇게 axis=1로 삭제를 하면 결측치가 하나라도 있는 컬럼은 전부 삭제하기 때문에 안쓰는게 좋음!!!!!
#극단적인 삭제 방법 but 시험에 나올 수 있으니 알고 있어야함
df = X_train.dropna(axis=1)
df.isnull().sum()

id                0
fnlwgt            0
education         0
education.num     0
marital.status    0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
dtype: int64

In [ ]:
# 결측치가 많은 특정 컬럼 삭제 drop(['workclass'], axis=1)
# dropna로 전체 삭제하는거 보다는 drop하고 특정 컬럼만 삭제하는것이 더 좋음
X_train.drop(['workclass'], axis=1)
df.isnull().sum()

id                0
fnlwgt            0
education         0
education.num     0
marital.status    0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
dtype: int64

In [ ]:
# 중복값 제거 drop_duplicates()
print(X_train.shape)
df = X_train.drop_duplicates()
print(df.shape)

#특정 컬럼에 대해 중복 값이 발생한 경우
#df.drop_duplicates(subset=['A'])
#df.drop_duplicates(subset=['A', 'B'], keep='las') #기본적으로 앞에 값을 살리나 last 설정시 뒤에 값을 살림

#keep last의 뜻은
#1
#1 이렇게 중복 값이 있을때, 앞에 #1을 삭제하고 뒤에 #1을 유지하겠다는 뜻

(29304, 15)
(29304, 15)

## 채우기

In [ ]:
# 최빈값 (workclass 만 보기)
# 컬럼명을 안넣어서 전체를 채우기 하는 경우가 있으므로, 반드시!!! workclass 특정 칼럼 선택이 필요함.
m = X_train['workclass'].mode()[0]
X_train['workclass'] = X_train['workclass'].fillna(m)
X_train.isnull().sum()

id                   0
age                 12
workclass            0
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
dtype: int64

In [ ]:
# 결측값을 새로운 카테고리로 생성 X_train['occupation']

X_train['occupation'] = X_train['occupation'].fillna('X')
X_train.isnull().sum()

#위에 코드는 occupation의 결측치를 X로 채워넣은 것임!

id                   0
age                 12
workclass         1662
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation           0
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
dtype: int64

### 결측치 처리
- workclass 최빈값
- native.country 최빈값
- occupation 별도의 카테고리로

In [ ]:
# 데이터 불러오기
import pandas as pd
X_train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/y_train.csv")
X_test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/X_test.csv")
# X_train = pd.read_csv("X_train.csv")
# y_train = pd.read_csv("y_train.csv")
# X_test = pd.read_csv("X_test.csv")

주의할점!

결측치 채울때 주의할 점은 train 데이터만 채우는게 아니라, test 데이터도 채워야함
꼭 같이해라.
그래서 train과 test 같이 넣어서 진행해라

In [ ]:
# X_train데이터
X_train['workclass'] = X_train['workclass'].fillna(X_train['workclass'].mode()[0])
X_train['native.country'] = X_train['native.country'].fillna(X_train['native.country'].mode()[0])
X_train['occupation'] = X_train['occupation'].fillna("X")

In [ ]:
# X_test데이터
X_test['workclass'] = X_test['workclass'].fillna(X_test['workclass'].mode()[0])
X_test['native.country'] = X_test['native.country'].fillna(X_test['native.country'].mode()[0])
X_test['occupation'] = X_test['occupation'].fillna(X_test['occupation'].mode()[0])

In [ ]:
# 결측치 확인
X_train.isnull().sum()
X_test.isnull().sum()

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
worklcass         0
dtype: int64

### 수치형 변수 결측치
- 평균값
- 중앙값
- 최대값
- 최소값
- 그룹별 00 값

In [ ]:
#결측치 확인
X_train.isnull().sum()

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

In [ ]:
# 평균값
X_train['age'].mean()

38.55299617799618

In [ ]:
# 중앙값
X_train['hours.per.week'].median()

37.0

In [ ]:
# 최대값
X_train['hours.per.week'].max()

90.0

In [ ]:
# 최소값
X_train['hours.per.week'].min()

-38.0

In [ ]:
# age 컬럼 평균값으로 채우기
# age 컬럼 평균값이 소수점이 있으므로, int로 정수형 변환 해서 진행 해도됨.
value = int(X_train['age'].mean())
print("채울 값:", value)
X_train['age'] = X_train['age'].fillna(value)
X_test['age'] = X_test['age'].fillna(value)

채울 값: 38

In [ ]:
# 주당 근무시간 중앙값으로 채우기
value = int(X_train['hours.per.week'].median())
print("채울값 :", value)
X_train['hours.per.week'] = X_train['hours.per.week'].fillna(value)
X_test['hours.per.week'] = X_test['hours.per.week'].fillna(value)

채울값 : 40

In [ ]:
# X_train 결측치 확인
X_train.isnull().sum()

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

In [ ]:
# X_test 결측치 확인
X_test.isnull().sum()

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
worklcass         0
dtype: int64

## 이상치 처리
- 이상한 값 삭제

In [ ]:
# X_train 통계 확인
X_train.describe()

#확인했을 때 age 컬럼에 min에 -가 뜸 -나이는 없으므로, 명백히 이상값으로 판명 됨.
# 그래서 이걸 없애야함

,id,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,29304.000000,29304.000000,2.930400e+04,29304.000000,29304.000000,29304.000000,29304.000000
mean,16264.027880,38.552996,1.897488e+05,10.080842,1093.858722,86.744506,40.434036
std,9384.518323,13.626025,1.055250e+05,2.570824,7477.435640,401.518928,12.321306
min,0.000000,-38.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,8145.750000,28.000000,1.177890e+05,9.000000,0.000000,0.000000,40.000000
50%,16253.500000,37.000000,1.783765e+05,10.000000,0.000000,0.000000,40.000000
75%,24374.250000,48.000000,2.370682e+05,12.000000,0.000000,0.000000,45.000000
max,32560.000000,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
# age가 음수인 데이터
X_train[X_train['age'] <= 0]

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
39,29188,-33.0,Private,263561,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60.0,United-States
79,14325,-38.0,Private,22245,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60.0,United-States
26161,4292,-25.0,Private,200681,Some-college,10,Never-married,X,Own-child,White,Male,0,0,40.0,United-States

In [ ]:
# age가 1이상인 데이터만 살림
print(X_train.shape)
X_train = X_train[X_train['age']>0]
print(X_train.shape)

(29301, 15)
(29301, 15)

X_train 데이터 에서 age 값중 0보다 큰 값을 가질 건데 1번과 2번 중 왜 1번을 써야하는지???

1번 방식은 필터링된 데이터프레임을 직접 반환하므로, 이후 연산을 위해 원하는 행들만 포함된 데이터프레임을 사용할 수 있습니다. 반면, 2번은 조건에 대한 불리언 결과만 반환하므로, 이를 다시 원본 데이터프레임에 적용해야 원하는 데이터를 얻을 수 있습니다

In [ ]:
# IQR로 확인
# IQR로 확인하면, 시험때는 시각화 기능을 제공하지 않기 때문에, 우리가 할 때 누가 봐도 명확하거나, 또는 이상치 기준을 주지 않을까 생각함
cols = ['age','fnlwgt','education.num', 'capital.gain', 'capital.loss', 'hours.per.week']
for col in cols:
    Q1 = X_train[col].quantile(.25)
    Q3 = X_train[col].quantile(.75)
    IQR = Q3 - Q1
    min_iqr = Q1-1.5*IQR
    max_iqr = Q3+1.5*IQR
    cnt=sum((X_train[col] < min_iqr) | (X_train[col] > max_iqr))
    print(f'{col}의 이상치:{cnt}개 입니다.')

age의 이상치:121개 입니다.
fnlwgt의 이상치:892개 입니다.
education.num의 이상치:1077개 입니다.
capital.gain의 이상치:2459개 입니다.
capital.loss의 이상치:1359개 입니다.
hours.per.week의 이상치:8104개 입니다.

## 전처리 주의 사항
- 이상치, 결측치에 대해 test 데이터(행) 삭제 불가 (절대로 test를 삭제하면 안됨!!! 빵점처리됨
    - 예) test 데이터 100개가 주어지고 100개로 평가를 하는데 임의로 10개를 삭제해버리면 채점을 할 수가 없음
    - train 데이터는 학습/훈련용 데이터임. 데이터가 많을 경우 임의로 소수 데이터(행) 삭제해도 무방함
- test, train 컬럼은 삭제/추가 가능. 단, train과 컬럼수와 명이 일치해야 함 (y(target) 제외)

y(target)은 우리가 예측해야하는 y라벨